

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: white;
  }
   *{
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .items li:hover {
    transform: translateY(-2px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
      0 24px 46px var(--box-shadow-color);
    transition: all 0.3s ease-out;
  }
  li.active a {
   
    font-weight: bold;
    color: #000000;
    list-style: none;
    font-size: 15px;
    padding-bottom: 8px;
    border-bottom-color: #000;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }
  .nav {
    background-color: #000;
    padding: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 500;
    color: #fff;
  }
  .nav.sticky {
    /*box-shadow: 0px 1px 10px #999;*/
    transform: translateZ(100);
    box-shadow: 0px 2px 50px rgba(9, 9, 9, 0.1);
    background-color: #fff;
    color: #000;
  }
  
  .nav-links .active a {
    
    font-weight: bold;
    color: #fff;
    list-style: none;
    font-size: 15px;
    padding-bottom: 8px;
    border-bottom-color: #fff;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }
  .nav.sticky .nav-links .active a {
    
    font-weight: bolder;
    color: #000;
    list-style: none;
    font-size: 15px;
    padding-bottom: 8px;
    border-bottom-color: #000;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: flex;
    float: right;
  }
  
  .nav > .nav-links > li > a {
    
    color: #fff;
    list-style: none;
    font-size: 15px;
  }
  
  .nav.sticky > .nav-links > li > a {
    
    color: #000;
    list-style: none;
    font-size: 15px;
  }
  
  .nav > .nav-links > li {
    margin-left: 16px;
    margin-right: 16px;
    
    font-weight: 700;
    color: #000;
    list-style: none;
    font-size: 15px;
  }
  
  .nav > .nav-links > li:hover {
    transform: translateY(-2px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
      0 24px 46px var(--box-shadow-color);
    transition: all 0.3s ease-out;
   
  }
 
  .ham {
    display: inline-block;
    cursor: pointer;
    opacity: 0;
  }

  ul .nav-links li a{
    list-style: none;
  }

  li {
    list-style: none;
  }
  
  @media (max-width: 600px) {
    .logo {
      padding-left: 0px;
      display: flex;
      width: 60%;
      align-items: center;
      justify-content: initial;
      height: 70px;
      background: #fff;
      border-radius: 2px;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      padding-top: auto;
      padding-bottom: auto;
      right: 20px;
    }
  
    .ham {
      display: inline-block;
      cursor: pointer;
      opacity: 1;
    }
  
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #fff;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 78px;
      left: 0px;
      right: 0px;
    }
    .nav > .nav-links > li {
      display: block;
      padding: 20px;
      font-size: 22px;
      color: #000;
      width: 100%;
    }
    .nav > .nav-links > li > a {
      
      color: #000;
      list-style: none;
      font-size: 15px;
    }
  
  }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.3s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 2px);
    transform: rotate(-45deg) translate(-4px, 2px);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }


  .containera{
    min-height: calc(500vh - 58px - 12vh);
 
    scroll-behavior: smooth;
    
}
.banner{
   
    margin: auto;
    padding: auto;
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.20)), url(/img/back2.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.back{
    
    background-color: black;
    height: 100%;
    
}
.headline {
  text-shadow:black 4px 3px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
    margin: 0 auto;
    align-self: center;
    font-family: 'Oswald', sans-serif;
    color:white;
    list-style: none;
    font-size: 70px;
    width: 80%;
    line-height: 80px;
    text-align: center; 
    text-transform: lowercase;
}
.mtitle{
    background-color: black;

    

}


 .title{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(248, 248, 248);
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
} 

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(241, 243, 245);
}

.project{
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;

}
.proinfo{
 
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px; 
    padding: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #000;
    font-size: 29px;
    line-height: 30px;
    width: 100%;

}
.why{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
.whyinfo {
    align-items: center;
    padding-left: 5%;
    min-height: 45vh;
}
 .whyinfo {
     z-index: -1;
    padding-left: 55px;
    padding-right: 55px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;} 



    .image1{
        height: 55px;
    }
.service{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
 .card{
 
 
     margin: auto;
    padding: auto;
    margin: 0 auto;  
    width: 70vw;
    height: 80vh;
    display: grid;
    
    grid-template-areas: "image" "text" "stats";
    font-family: 'Montserrat', sans-serif;
  
    border-radius:18px;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    background-color: black;
    
 }
    
   


 .card-image{
     background-image: url(/img/webimage.jpg);
    justify-content: left;
    width: 70vw;
    height : 40vh;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    justify-content: left;
    color: black;
} 
@media only screen and (max-width: 600px){
  .banner {   

    margin: auto;
    padding: auto;
    margin: 0 auto;
    width: 100vw;
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.20)), url(/img/back2.jfif);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
            }

  .card{
 
 
    margin: auto;
   padding: auto;
   margin: 0 auto;  
   width: 88vw;
   height: 80vh;
   display: grid;
   
   grid-template-areas: "image" "text" "stats";
   font-family: 'Montserrat', sans-serif;
 
   border-radius:18px;
   background: #fff;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
   text-align: center;
   background-color: black;
   
}
   
  
.card-image{
    background-image: url(/img/service.jpg)  ;
   justify-content: left;
   width: 88vw;
   height : 40vh;
   background-position: center;
   background-size: cover;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   justify-content: left;
   color: black;

    }


}

.card-text{
    margin: auto;
    padding: auto;
    margin: 10px 185px ; 
    justify-content: center;
    text-align: center;
    grid-area: text;
    margin: 10px;
    align-items: center;
    color: white;

  
}
.card-text h5{
    font-size: 30px;
  
}
.card-text p{
    font-size: 25px;
}
.card-stats{
    grid-area: stats;
}

.web{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
} 
.btn{
  margin-top: 30px;
  
}
.btn a{
   
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 5px;
    
}
.about{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
.aboutinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
}
.aboutinfo h5{
 
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(7, 2, 2);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
   
}
.contact{
    min-height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

.btnn {
    background-color: #8ab1b9;
}
  .conn{
    
     margin: auto;
    padding: auto;
    margin: 0 auto;
   
    min-height: 60vh;
    padding: 50px 100px; 
     display: flex; 
     width: 84vw;
    height: 123vh; 
      justify-content: center; 
     align-items: center ; 
      flex-direction: column;  
    background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.30)), url(/img/kaleb-unsplash.jpg)  ;
    z-index: -20;
    
    background-size: cover; 
}  
  .containero{
     width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 30px; 
  
    margin: auto;
    padding: auto;
    margin: 0 auto; 
    
}


.containero .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
.containero .contactinfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex ;
    z-index: 1;
   
    
  
}
 .containero .contactinfo .box .icon{
     min-width: 60px;
    height: 60px; 
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
  
 }
 
 .box a{
     min-width: 0.0001px; 
     height: 0.001px; 
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    text-decoration: none;
   
 }
  .containero .contactinfo .box .text {
     display: flex;
     margin-left: 20px;
     font-size: 16px;
     color: rgb(255, 255, 255);
     flex-direction: column;
     font-weight: 300;
     text-decoration: none;
    
 } 
  .containero .contactinfo .box .text h2{
     font-weight: 500;
     display: flex;
   /* background:#fff; */
 }
 .containero .contactinfo .box .text p{
     display: flex;
 }
 

 .contactform{
     width: 40%;
     padding: 40px;
      background:  rgba(255, 255, 255, 0.5);
      box-shadow: 0 5px 15px rgba(0,0,0,0);
      border: black solid 2px;
         
 }
 

 .contactform h2{
     font-size: 30px;
     color: rgb(0, 0, 0);
   font-weight: 500;
 }
 .contactform .inputbox{
     position: relative;
     width: 100%;
     margin-top: 10px;
    

 }
.contactform .inputbox input
 
{   width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(58, 56, 56);
    background:  rgba(255, 255, 255, 0.60);
    outline: none;
    resize: none;
}
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    background: rgba(255, 255, 255, 0.60);
}
.contactform .inputbox span1 {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(0, 0, 0);
}
.contactform .inputbox input:focus ~ span1
{
    color: #000000;
    font-size: 20px;
    transform: translateY(-30px);
}

.contactform .inputbox input:valid ~ span1,
.contactform .inputbox textarea:focus ~ span1,
.contactform .inputbox textarea:valid ~ span1{
    color: #000000;
    font-size: 20px;
    transform: translateY(-30px);
    
}

.contactform .inputbox input[ type="submit"]
{
    width: 100px;
    background: #0db9cf;
    color: rgb(5, 3, 3);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}  

footer{
    height: 12vh;
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    font-family: 'Poppins', sans-serif;
    
}
.flexallcentre p a{
    color: rgb(196, 0, 245);
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: bolder;

}

@media only screen and (max-width: 600px){
    .co 
    {
        padding: 50px;
    }
    .containero{
        flex-direction: column;
       
    }
    .containero .contactinfo 
    {
        margin-bottom: 40px;
    }
    .containero .contactinfo,
    .contactform
    {
        width: 100%;}
    
    .headline {
        text-shadow: black 4px 3px;
        min-height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: auto;
        margin: 0 auto;
        align-self: center;
        /* font-family: 'Montserrat', sans-serif; */
        

         font-family: 'Oswald', sans-serif; 
        color: white;
        list-style: none;
        font-size: 50px;
        font-weight: bolder;
        width: 80%;
        line-height: 80px;
        text-align: center;
        text-transform: lowercase;
    }


   .about{
     margin-top: 100px;
     }


        .whyinfo {
          padding-left: 0px;
          padding-right: 0px;
          margin-right: auto;
          margin-left: auto;
          text-align: center;
          align-items: center;
          width: 100%;
          display: block;
        }
        .whyinfo .content {
          left: 50%;
          right: 50%;
          margin-bottom: 50px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
        }
        .whyinfo.content h3 {
          margin: auto;
          width: 90%;
          padding: 40px;
          color: #000;
          text-align: center;
          font-size: 24px;
        }
       
       .conn{      
     margin: auto;
     padding: auto;
     margin: 0 auto;
     width: 60vw;
     min-height: 70vh;
     padding: 0px ;
      display: flex; 
      width: 340px;
     height: 124vh; 
       justify-content: center; 
      align-items: center ; 
       flex-direction: column;  
    
     
     background-size: cover; 
     z-index: -1;

    }

    .containero .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex ;
    z-index: 1;
     }

     .image2{
        
        display:none;
        
     }
     

}
.flexallcentre{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.logo{
    background-color: #fff;
    border-radius: 3px;
}

/* *********************************************************************************************** */


.web {
  padding-left: 55px;
  padding-right: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .image2 {
      padding-top: 50px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      justify-content: center;
      height: 100vh;
  }
.headli{
  color: #000;
  font-family: 'Montserrat', sans-serif;
    font-size: 50px;

}

  .proinfo1{
      margin-top: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 27px; 
      padding: auto;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      color: #000;
      font-size: 29px;
      line-height: 30px;
      width: 100%
  }

  .benifitsa h2{
      padding-top: 50px;
      font-size: 40px;
      font-family: 'Playfair Display', serif;
      text-transform: capitalize;
      padding-left: 55px;
      color: black;
  }

  ul1 .a{
     margin-left: 10px;
      list-style-type: circle;
     
  }

.a li{
      padding-left: 95vh;
      font-family: 'Mtserrat', sans-serif;
      font-size: 25px;
      line-height: 50px;
      color: black;
  }

  .nav1{
    background-color: #000;
    padding: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 500;
    color: #fff;
  }

  @media (max-width: 600px) {
    .image2 {
      display: none;
      /* padding-top: 50px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      justify-content: center;
      height: 53vh; */
      }

   .a li{
    padding-left: 10vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 50px;
       }
       .nav1 > .nav-links > li > a {
        font-family: 'Mtserrat', sans-serif;
        font-weight: bold;
        color: rgb(255, 255, 255);
        list-style: none;
        font-size: 13px;
       }
}




.content h3{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #000;
  font-size: 19px;
  line-height: 30px;
  width: 100%;

}


footer{
  font-size: 20px;
}

/*  card**************************************************************************************************************** */


*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1{
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.front,
.backa{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.backa{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .backa{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.backa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .backa{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .backa{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}




/* card end*********************************************************************************************************** */


/* counter start*************************************************************************************************** */



body {
  font-family: Open Sans, "Helvetica Neue", "Helvetica", Helvetica, Arial,   sans-serif;
  font-size: 13px;
  color: rgb(163, 10, 156);
  position: relative;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-size: 13px;
  direction: ltr;
} */

.sectionClass {
  padding: 20px 0px 50px 0px;
  position: relative;
  display: block;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}


.sectiontitle {
  background-position: center;
  margin: 30px 0 0px;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: rgb(12, 12, 12);
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}


.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #f303d3;
}


.projectFactsWrap{
    display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}


#projectFacts .fullWidth{
  padding: 0;
}

.projectFactsWrap .item{
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.projectFactsWrap .item:nth-child(1){
  background: rgb(0, 0, 0);
}

.projectFactsWrap .item:nth-child(2){
  background: rgb(36, 35, 35);
}

.projectFactsWrap .item:nth-child(3){
  background: rgb(0, 0, 0);
}

.projectFactsWrap .item:nth-child(4){
  background: rgb(36, 35, 35);
}

.projectFactsWrap .item p.number{
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.projectFactsWrap .item p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: 'Open Sans';
}


.projectFactsWrap .item span{
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}


.projectFactsWrap .item i{
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}


.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
  color: rgb(248, 1, 207);
}

.projectFactsWrap .item:hover span{
  background: rgb(248, 1, 207);
}

@media (max-width: 786px){
  .projectFactsWrap .item {
     flex: 0 0 50%;
  }
}

/* AUTHOR LINK */

 /* footer{
  z-index: 100;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
}   */

 /* footer p {
color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  opacity: 0;
  font-family: 'Open Sans';
  width: 100%;
    word-wrap: break-word;
  line-height: 25px;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  margin: 0;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
}

footer .authorWindow a{
  color: white;
  text-decoration: none;
}

footer p strong {
    color: rgba(255, 255, 255, 0.9);
} */

.about-me-img {
  width: 120px;
  height: 120px;
  left: 10px;
  bottom: 30px; 
  position: relative;
  border-radius: 100px;
}


.about-me-img img {
}


.authorWindow{
  width: 600px;
  background: #75439a;
  padding: 22px 20px 22px 20px;
  border-radius: 5px;
  overflow: hidden;
}

.authorWindowWrapper{
  display: none;
  left: 110px;
  top: 0;
  padding-left: 25px;
  position: absolute;
}





.trans{
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
    .authorWindow{
         width: 210px;
    }

    .authorWindowWrapper{
             bottom: -170px;
  margin-bottom: 20px;
    }

    /* footer p{
          font-size: 14px;
    } */
}


.sectionClass{
  display: block;
} 